<div id="left">
    <nav class="navbar-default navbar-static-side">
        <ul class="nav">
            <foreach name="menu" item="item" key="key">
                <li class="{$item.class}">
                    <if condition="$item['level'] eq 1" >
                        <a href="{$item.url}"><i class="fa {$item.iclass}"></i>{$item.title}</a>
                        <else/>
                        <a href="javascript:void(0)" class="mm-left-toggle-ul"><i class="fa {$item.iclass}"></i>{$item.title}<i class="icon-angle-left"></i></a>
                        <ul class="nav nav-second-level">
                            <foreach name="item.group" item="item1" key="key1">
                                <li class="{$item1.class}"><a href="{$item1.url}"><i class="icon-angle-right"></i> {$item1.title}</a></li>
                            </foreach>
                        </ul>
                    </if>
                </li>
            </foreach>
        </ul>
    </nav>
</div>
<script>
    $(function(){
        $("#left .mm-left-toggle-ul").click(function(){
            var par = $(this).parents("li");
            if( $(par).hasClass("on") ){
                $(par).find("ul").slideUp(300);
                $(par).removeClass("on");

            }
            else{
                $(par).find("ul").slideDown(300);
                $(par).addClass("on");

            }
        });
    })
</script>