<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <style>
        #body .col-sm-10{width: 400px;}
         ul{list-style: none;}
        .quxian{list-style: none;padding: 0;}
        .quxian li{min-height: 30px;line-height: 30px;}
        .quxian li label{margin: 0;}
        .quxian li label input{width: 16px;height: 16px;float: left; margin-top:7px;margin-right: 5px;;-webkit-appearance: none; outline: none !important;border-radius: 10px;  box-sizing: border-box;  -moz-box-sizing: border-box;border: 1px solid #b3b3b3;}
        .quxian li label input:checked{ background: url("/public/admin/image/radio_checked.png") no-repeat;  background-size: 16px 16px;  border: none;outline: none;}
        .second{padding-left: 30px;display: none;}
        .third{padding-left: 30px;display: none;}
        .third:after{display: block;content: "";clear: both;}
        .third li{float: left;width: 50%;}
        li>label{cursor: pointer;}
    </style>
</head>
<body>
<include file="Public/header" />
<include file="Public/left" />
<div id="body">
    <div class="row wrapper mm-head-nav">
        <div class="col-lg-10">
            <h2>管理员分组设置</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{:U('index/index')}">主页</a>
                </li>
                <li>
                    <a>权限管理</a>
                </li>
                <li>
                    <strong>权限分配</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="content animated fadeInRight">
        <div class="ui-panel bordered">
            <div style="padding: 5px 10px;margin-top: 20px;">
                <div class="form-group">
                    <input type="hidden" id="id" value="{$groupInfo.id}">
                    <label class="col-sm-2 control-label">组别名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" id="name" value="{$groupInfo.title}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group" style="display: table;width: 100%;">
                    <label class="col-sm-2 control-label">权限分配</label>
                    <div class="col-sm-10">
                        <ul class="quxian">
                            <foreach name="lists" item="item1" key="key1">
                                <li class="first">
                                    <label><input type="checkbox" class="first" value="{$item1.id}" <if condition = "$item1['checked']">checked</if> >{$item1.title}</label>
                                    <ul class="second">
                                        <foreach name="item1._child" item="item2" key="key2">
                                            <li>
                                                <label><input type="checkbox" class="second" value="{$item2.id}" <if condition = "$item2['checked']">checked</if>>{$item2.title}</label>
                                                <ul class="third">
                                                    <foreach name="item2._child" item="item3" key="key3">
                                                        <li> <label><input type="checkbox" class="third" value="{$item3.id}" <if condition = "$item3['checked']">checked</if>>{$item3.title}</label></li>
                                                    </foreach>
                                                </ul>
                                            </li>
                                        </foreach>
                                    </ul>
                                </li>
                            </foreach>
                        </ul>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-m-4 col-sm-offset-2">
                        <button class="btn btn-success submit" type="button" id="save-conf">保存内容</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<include file="Public/footer"/>

<script>
    $(function(){
        $("input[type='checkbox'].first").each(function(){
            var li = $(this).parents("li");
            if($(this).is(":checked")){
                $(li).find(".second").css("display","block");
                $(li).find(".third").css("display","block");
            }
        })

        $("input[type='checkbox'].first").click(function(){
            var li = $(this).parents("li");
            if($(this).is(":checked")){
                $(li).find(".second").slideDown(200);
                $(li).find(".third").slideDown(200);
                $(li).find("input.second").prop("checked", "true");
                $(li).find("input.third").prop("checked", true);
            }
            else{
                $(li).find(".second").slideUp(200);
                $(li).find(".third").slideUp(200);
                $(li).find("input.second").prop("checked",false);
                $(li).find("input.third").prop("checked",false);
            }
        });

        $("input[type='checkbox'].second").click(function(){
            var li = this.parentElement.parentElement;
            if($(this).is(":checked")){
                $(li).find(".third").slideDown(200);
                $(li).find(".third").css("display","block");
                $(li).find("input.third").prop("checked", true);
            }else{
                $(li).find(".third").slideUp(200);
                $(li).find("input.third").prop("checked",false);
            }
        });

        $("#save-conf").click(function(){
            var id = $("#id").val();
            if(isNaN(id)||id==""){
                id = 0;
            }
            var name = $.trim( $("#name").val() );
            if(name == ""){
                show_error("请输入组别名称！");
                return;
            }
            var roles = "";
            var checks = $("input[type='checkbox']:checked");
            if( checks.length == 0 ){
                show_error("还是给点权限吧");
                return;
            }
            checks.each(function(index){
                roles += index == 0 ? $(this).val() : ("," + $(this).val());
            });
            $.ajax({
                url : "{:U('Role/save_rule')}",
                data: {"title":name,"rules":roles,"ajax":1,"id":id},
                type:"POST",
                dataType: "json",
                success: function(obj){
                    if(obj.statusCode==200){
                        show_error(obj.message);
                        location.href = "{:U('Role/index')}";
                    }
                    else{
                        show_error(obj.message);
                    }
                },
                error:function(data){
                    alert("程序出错了！");
                }
            });
        });
    })
</script>
</body>
</html>