<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>后台管理系统</title>
</head>
<body>
<include file="Public/header" />
<include file="Public/left" />
<div id="body">
    <div class="row wrapper mm-head-nav">
        <div class="col-lg-10">
            <h2>相册列表</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{:U('Index/index')}">主页</a>
                </li>
                <li>
                    <strong>图片管理</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="tab-nav">
        <ul class="nav nav-tabs">
            <li class="active"><a href="javascript:void(0);">相册管理</a></li>
            <li><a href="{:U('Photo/index')}">相片管理</a></li>
            <li><a href="javascript:void(0);">评论管理</a></li>
        </ul>
    </div>
    <div class="content animated fadeInRight">

    </div>
</div>
<include file="Public/footer"/>
</body>
</html>