<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>后台管理系统</title>
</head>
<body>
<include file="Public/header" />
<include file="Public/left" />
<style>
    .award-item{   position: relative;  padding-right: 20px;  margin-bottom: 10px;  }
    .award-item .award_action{      position: absolute;  right: 0;  top: 0;  font-size: 20px;  cursor: pointer;  color: #888;  }
</style>
<link rel="stylesheet" href="__COMMON__/date/css/laydate.css">
<div id="body">
    <div class="row wrapper mm-head-nav">
        <div class="col-lg-10">
            <h2>人物简历</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{:U('Index/index')}">主页</a>
                </li>
                <li>
                    <strong>人物简历</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="ibox animated fadeInRight">
        <div class="ibox-content">
            <form class="form-horizontal form-row-border" action="" method="post" proxy="auto" novalidate="">
                <div class="row">
                    <div class="col-md-9 form-fieldset">
                        <div class="form-group has-feedback">
                            <label class="col-md-3 control-label">姓名: </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="name" title="姓名" value="{$figures_info.name}" placeholder="输入姓名" validator="required|maxLength(15)" maxlength="15">
                                <span class="form-control-feedback" id="inputFeedbackOfName">0/15</span>
                                <input type="hidden" name="id" value="{$figures_info.id}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">性别: </label>
                            <div class="col-md-9">
                                <label class="radio-inline">
                                    <input type="radio" name="sex" value="0" <if condition="$figures_info['sex'] eq 0">checked=""</if>>男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" value="1" <if condition="$figures_info['sex'] eq 1">checked=""</if>>女
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">出生年月: </label>
                            <div class="col-md-9 form-inline" id="birthdaySelect" role="date-select">
                                <input type="text" class="laydate-icon mm-input-text" value="" name="birthday" id="birthday" style="width: 242px;"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">籍贯: </label>
                            <div class="col-md-9 form-inline" id="districtSelect">
                                <select class="form-control" id="province" name="province" title="地区">
                                    <option value="">--请选择--</option>
                                    <foreach name="region_v2" item="region" key="key">
                                        <option value="{$region.name}" rel="{$region.id}" <if condition="$region.selected eq 1">selected="selected"</if>>{$region.name}</option>
                                    </foreach>
                                </select>　
                                <select class="form-control" name="city" id="city" title="城市">
                                    <option value="">--请选择--</option>
                                    <foreach name="region_v3" item="region" key="key">
                                        <option value="{$region.name}" rel="{$region.id}" <if condition="$region.selected eq 1">selected="selected"</if>>{$region.name}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">职业</label>
                            <div class="col-md-9 form-inline" id="occupationSelect">
                                <input type="hidden" name="industry" id="industry" value=""/>
                                <input type="hidden" name="occupation" id="occupation" value=""/>
                                <select name="industry" title="行业" class="form-control">
                                    <option value="">--请选择--</option>
                                </select>
                                <select name="occupation" class="form-control">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">身高体重: </label>
                            <div class="col-md-9 form-inline">
                                <div class="input-group">
                                    <input type="text" class="form-control input-width-mini" name="height" value="{$figures_info.height}" title="身高" placeholder="输入身高" validator="number|max(300)">
                                    <span class="input-group-addon">厘米</span>
                                </div>　
                                <div class="input-group">
                                    <input type="text" class="form-control input-width-mini" name="weight" value="{$figures_info.weight}" title="体重" placeholder="输入体重" validator="number|max(500)">
                                    <span class="input-group-addon">千克</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 avatar-control">
                        <div id="avatarUploader">
                            <img src="{$figures_info.avatar_url}" style="width: 198px;height: 198px;">
                            <div id="avatarImage"></div>
                            <input type="hidden" name="avatarUrl" value="{$figures_info.avatar_url}" title="头像" view-delegate="#avatarPickup" validator="required">
                        </div>
                        <label class="btn btn-white btn-block webuploader-container" type="button" id="avatarPickup" style="width: 200px;position: relative;">
                            <div class="webuploader-pick">更换头像</div>
                            <input type="file" id="avatar"  name="file" class="uploader-avatar" style="display: none;">
                        </label>
                        <small style="margin-left:55px;line-height:30px;">最佳尺寸200*200</small>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="col-md-2 control-label">擅长项目: <small>50个字以内</small></label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="specialty" value="{$figures_info.good_at}"
                               placeholder="擅长项目" validator="maxLength(150)" maxlength="50">
                        <span class="form-control-feedback" id="inputFeedbackOfSpecialty">0/50</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">获奖荣誉: <small>最多20项</small></label>
                    <div class="col-md-10">
                        <div class="" id="awardContainer">
                            <foreach name="figures_info.awards" item="child">
                                <div class="award-item">
                                    <input type="text" class="form-control" name="awards" title="获奖荣誉" placeholder="输入获奖荣誉" value="{$child}">
                                    <span class="award_action" title="删除">×</span>
                                </div>
                            </foreach>
                        </div>
                        <button class="btn btn-white" type="button" id="addAwardButton">
                            <i class="icon-plus"> 添加一项</i>
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">个人风采: <small>最多5张</small></label>
                    <div class="col-md-10" id="photoUploader">
                        <button class="btn btn-white " type="button" id="addPhotoButton">
                            <i class="icon-plus"> 照片选择</i>
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">个人简介: <small>5000个字以内</small></label>
                    <div class="col-md-10">
                        <script id="editor" type="text/plain" style="max-width:100%;width:880px;height:350px;"></script>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div class="form-group">
                    <div class="col-m-4 col-sm-offset-2">
                        <button class="btn btn-success btn-lg" type="button" id="submit">保存内容</button>
                        <a href="{:U('Figures/index')}" class="btn btn-white btn-lg">取消</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<include file="Public/footer"/>
<script type="text/javascript" charset="utf-8" src="__COMMON__/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ajaxupload.js"></script>
<script type="text/javascript" charset="utf-8" src="__COMMON__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__COMMON__/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__COMMON__/ueditor/lang/zh-cn/zh-cn.js"></script>
<!--时间-->
<script type="text/javascript" charset="utf-8" src="__COMMON__/date/laydate.js"></script>
<!--地域-->
<script type="text/javascript" charset="utf-8" src="__COMMON__/switch_city.js"></script>
<!--职业-->
<script type="text/javascript" charset="utf-8" src="__COMMON__/switch_jobs.js"></script>

<script>
    $(function(){
        laydate({
            elem:"#birthday",
            event:"focus",
            istime: true, format: 'YYYY-MM-DD',
        });
        var ue = UE.getEditor('editor');
        UE.getEditor('editor').ready(function(){
            this.setContent('{$info.content}');
        });


        //奖励荣誉
        award_bind_click();
        $('#addAwardButton').click(function(){
            if($('.award-item').length >= 20){
                alert('最多20项！');return false;
            }
            var content='<div class="award-item"> <input type="text" class="form-control" name="awards" title="获奖荣誉" placeholder="输入获奖荣誉" value=""> <span class="award_action" title="删除">×</span> </div>'
            $('#awardContainer').append(content);
            award_bind_click();
        });

        function award_bind_click(){
            $('.award_action').unbind('click');
            $('.award_action').bind('click',function(){
                $(this).parent().remove();
            });
        }
    })
</script>
</body>
</html>