<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>后台管理系统</title>
</head>
<body>
<include file="Public/header" />
<include file="Public/left" />
<div id="body">
    <div class="row wrapper mm-head-nav">
        <div class="col-lg-10">
            <h2>首页</h2>
        </div>
    </div>
    <div class="tab-nav">
        <ul class="nav nav-tabs">
            <li class="active"><a href="javascript:void(0);">用户列表</a></li>
            <li><a href="{:U('User/black')}">黑名单</a></li>
        </ul>
    </div>
    <div class="ibox animated fadeInRight">
        <div class="ibox-title">
            <div>
                <input type="text" name="name" value="" placeholder="请输入姓名" class="mm-input-text">
                <button class="btn btn-success " id="search">查询</button>
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-striped table-bordered table-hover dataTables-example">
                <thead>
                <tr>
                    <th >id</th>
                    <th >昵称</th>
                    <th >姓名</th>
                    <th >性别</th>
                    <th >手机号</th>
                    <th >邮箱</th>
                    <th>证件号</th>
                    <th >注册时间</th>
                    <th>操作</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<include file="Public/footer"/>
<script>
    $(function(){
        $("#search").click(function(){
            get_lists();
        });

        get_lists();
        function get_lists(){
            var jsonRe;
            jsonRe = [
                {"data": "data1"},
                {"data": "data2"},
                {"data": "data3"},
                {"data": "data4"},
                {"data": "data5"},
                {"data": "data6"},
                {"data": "data7"},
                {"data": "data8"},
                {"data": "data9"},
            ];
            $('.dataTables-example').dataTable().fnDestroy();
            $('.dataTables-example').dataTable({
                "serverSide": true,
                "bPaginate": true, //翻页功能
                "bLengthChange": false, //改变每页显示数据数量
                "iDisplayLength":50,
                "bFilter": false, //过滤功能
                "bSort": false, //排序功能
                "bInfo": true,//页脚信息
                "sPaginationType" : "full_numbers",//分页
                "bProcessing" : true,
                "bAutoWidth": true,
                "columns": jsonRe,
                "sAjaxSource":"{:U('User/get_lists')}",
                "fnServerData":receiveDataCallback,
            });
            $("table:eq(0) th").removeClass("sorting_asc");
        }
        function receiveDataCallback(sSource, aoData, fnCallback){
            $.ajax({
                'type':"POST",
                "url":sSource,
                "dataType":"json",
                "data":{"aoData":aoData,"ajax":1,"name":$(".ibox-title input[name='name']").val()},
                "success":function(resp){
                    if(resp.statusCode == 300){
                        show_error(resp.message);
                    }
                    fnCallback(resp);
                },
                "complete":initComplete,
            })
        }
        function initComplete(){
            $(".dataTables-example .mm-del").click(function(){
                var id = $(this).attr("data-id");
                var action = $(this).attr("action");
                var obj = this;
                $.ajax({
                    'type':"POST",
                    'url':'{:U("User/del")}',
                    'dataType':"json",
                    'data':{'id':id,'action':action,"ajax":1},
                    "success":function(msg){
                        if(msg.statusCode==200){
                            if(action == 1){
                                show_error("已加入黑名单！");
                                $(obj).html("已拉黑");
                            }else{
                                show_error("已加入白名单！");
                                $(obj).html("已正常");
                            }
                            $(obj).prop("disabled",true);
                        }else{
                            show_error(msg.message);
                        }
                    },
                    "error":function(msg){
                        console.log(msg);
                        show_error("网络异常，请刷新重试！");
                    }
                })
            })
        }
    })

</script>

</body>
</html>